<div class="modal-body">                                              
    <div class="container-fluid">
          <h4>Your short link is: <%=@url.newUrl%></h4>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>                            
    </div>
  </div>